.feature-hero {
  position: relative;
  width: 100%;
  background-color: darken($dark-grey, 10%); 
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 0px rgba(39,39,39,0.5);
  
  .feature-copy-card {
    max-height: 400px;
    overflow-y: scroll;
    @media only screen and (max-width: 64.063em) {
      margin: 10px;
    }
    .feature-title, .feature-copy, a {
      color: $white;
    }
    .feature-title {
      font-weight: bold;
    }
    .feature-copy{
      font-family: $font-family-serif;
      max-width: 580px;
      overflow: scroll
    }
    a {
      text-decoration: underline;
    }

  }
}

.call-to-action {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  background-color: darken($dark-grey, 10%);
  color: $white;
  box-shadow: 0px 500px 0px 500px darken($dark-grey, 10%);

  .call-to-action-header, .call-to-action-copy, form {
    color: $white;
  }
  .call-to-action-header {
    font-weight: bold;
  }
  .call-to-action-copy{
    font-family: $font-family-serif;
  }
}

.more-products {
  width: 100%;
  background: $purple;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  h3 {
    color: $white;
  }

  .more-products-button {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    $button-med,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    darken($purple, 10%),
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    $global-radius,
    // We can set $full-width:true to remove side padding extend width. Default:false
    false,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    false,
    // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false
    false
  );
}
}