.feature-hero {
  position: relative;
  width: 100%;
  background-color: darken($dark-grey, 10%); 
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 0px rgba(39,39,39,0.5);
  
  .feature-copy-card {
    max-height: 400px;
    overflow-y: scroll;
    @media only screen and (max-width: 64.063em) {
      margin: 10px;
    }
    .feature-title, .feature-copy, a {
      color: $white;
    }
    .feature-title {
      font-weight: bold;
    }
    .feature-copy{
      font-family: $font-family-serif;
      max-width: 580px;
      overflow: scroll
    }
    a {
      text-decoration: underline;
    }

  }
}

.call-to-action {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  background-color: darken($dark-grey, 10%);
  color: $white;

  .call-to-action-header, .call-to-action-copy, form {
    color: $white;
  }
  .call-to-action-header {
    font-weight: bold;
  }
  .call-to-action-copy{
    font-family: $font-family-serif;
  }
}