.top-bar .title-area .name a img {
  margin: 15px;
}

.sub-nav-container {
  width: 100%;
  height: $sub-nav-height;
  background-color: $purple;
  margin-bottom: 20px;

  dl.sub-nav {
    line-height: $sub-nav-height;
    // padding-top: 0px;

    dd.category-select div select {
      background: none;
      border: none;
      color: $off-white;
      font-family: $header-font-family;
      height: 45px;
      font-size: 1.125rem;
      &:focus {
        outline: none;
      }
    }
  }
}