.top-bar .title-area .name a img {
  margin: 15px;
}

.sub-nav-container {
  width: 100%;
  // height: $sub-nav-height;
  background-color: $purple;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  form {
    input[type="submit"] {
      background-color: darken($purple, 10%);
      margin-bottom: 0px !important;
    }
    input {
      margin-bottom: 0px;
    }
  }
}