<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="#"><img src="assets/storeluv-logo.png"></a>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="">Sign in</a></li>
      </ul>
    </section>
  </nav>
</div>
<div class="sub-nav-container">
  <dl class="sub-nav">
    <div class="row">
    <dd class="active"><a href="#">Trending</a></dd>
    <dd><a href="#">Mens</a></dd>
    <dd><a href="#">Womens</a></dd>
    <dd><a href="#">Sale</a></dd>
    </div>
  </dl>
</div>

<div class="row" ng-controller="ProductsController as products">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <li ng-repeat="product in products.products" >
      <div ng-style="{'background-image':'url('+ product.image_url +')'}" class="product-container">
        <!-- <img ng-src="{{product.image_url}}"/> -->
        <a class="button buy-button" ng-click="products.openLink(product)">Buy</a> 
        <div class="product-description">

          <p class="product-brand">{{ product.brand_name }}</p>
          <p class="product-name">{{ product.name }}</p>
          <p class="product-price">{{ product.sale_price | currency : '£' }}</p>
        </div>
        
      </div>
    </li>
  </ul>
</div>