@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
@import "normalize";
@import "modules/colors";
@import "foundation";

@import "modules/_nav";
@import "modules/_products";

html, body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow-x: hidden;
}